<!-- align h1 to center -->
<h1 align="center">
    Garuda
</h1>

<p align="center">
  <img src="logo/garuda_profile_full1.png" width="100%">
</p>
<p align="center">
  A research-oriented computer vision library for satellite imagery.
</p>

[![Coverage Status](https://coveralls.io/repos/github/patel-zeel/garuda/badge.svg?branch=main)](https://coveralls.io/github/patel-zeel/garuda?branch=main)

## Installation

Stable version:

```bash
pip install garuda
```

Latest version:

```bash
pip install git+https://github.com/patel-zeel/garuda
```

## Usage

See the [examples](examples) directory for more details.

## Functionality

### Configuration

#### Disable/Enable TQDM

```python
{{ config_tqdm }}
```

Output:
```python
{{ config_tqdm_output }}
```

#### Adjust log level

```python
{{ config_log_level }}
```

Output:
```python
{{ config_log_level_output }}
```